# The host and port to listen on.
HOST="0.0.0.0"
PORT=3001

# A secret, random string of 32 characters used to encrypt session cookies.
# You can generate one with `openssl rand -base64 32`.
SESSION_SECRET="abcdefghijklmnopqrstuvwxyz123456"

# The URI for the database to connect to.
MONGODB_URI=""

# Zoom credentials
ZOOM_CLIENT_ID=""
ZOOM_CLIENT_SECRET=""

# AWS credentials
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""